h1 {
    font-family: "Courgette", sans-serif;
    color: plum;
    font-size: 40px;
}

.contacth1 {
    text-align: center;
}

p {
    text-align: center;
}

h2 {
    color: plum;
    font-size: 29px;
}

h3 {
    font-family: "Crimson Pro", sans-serif;
    color: plum;
    font-size: 22px;
}

body {
    margin: 0px;
    padding: 0px;
}

div {
    padding: 30px 0px;
    text-align: center;
}

.one {
    background-color: lavenderblush;
}

.two {
    background-color: white;
}

.three {
    background-color: lavenderblush;
    border-style: dotted;
}

a {
    color: lightseagreen;
    text-decoration: none;
}

a:hover {
    color: red;
}

.button {
    background-color: lightgrey;
    color: black;
    padding: 5px 15px;

}

hr {
    border-top: 10px dotted lightgray;
    width: 20%;
    clear: both;
}

.img {
   position: absolute;
   width: 20%;
   height: 220px;
   top: 0px;
   left: 0px;
}

.img2 {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 220px;
}

.imgborder {
    border: 2px solid purple;
    border-radius: 35px;
}

.rightcol {
    float: right;
    margin-right: 500px;
    width: 10%;
}

.leftcol {
    float: left;
    width: 10%;
    margin-left: 500px;
}

.contactform {
    max-width: 350px;
    margin: 2rem auto;
    border: 2px solid lightgray;
    padding: 15px;
}

input {
    margin-bottom: 10px;
    width: 250px;
}
